<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Price</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.weight %></td>
        <td><%= product.price %></td>
        <td><%= product.user.username %></td>
        <td><%= link_to 'Show', user_product_path(@user, product), class:"btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_user_product_path(@user,product), class:"btn btn-warning"%></td>
        <td><%= link_to 'Destroy', user_product_path(@user, product), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_user_product_path(@user) , class:"btn btn-success"%>
