<p id="notice"><%= notice %></p>

<h1><span class="glyphicon glyphicon-apple"> Product <%= @product.name %></span></h1><br>


<div class="row ">
  <div class="col-sm-3 col-md-3 ">
    <div class="field">
      <h4><strong>Name </strong></h4>
      <%= @product.name %>
    </div>
  </div>
  <div class="col-sm-3 col-md-3 ">
    <div class="field">
      <h4><strong>Weight </strong></h4>
      <%= @product.weight %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-3 ">
    <div class="field">
      <h4><strong>Price </strong></h4>
      <%= number_to_currency @product.price %>
    </div>
  </div>
  <div class="col-sm-3 col-md-3 ">
    <div class="field">
      <h4><strong>User </strong></h4>
      <%= @product.user.username%>
    </div>
  </div>
</div>



<%= link_to 'Edit', edit_user_product_path(@user,@product), class:"btn btn-warning" %>
<%= link_to 'Back', user_products_path(@user), class:"btn btn-primary" %>
